
.main-area {
  font-family: Karla, serif;
}

/* Dropdown Button */
.dropdowns__btn {
    width: 65vw;
    border: none;
    cursor: pointer;
    font-size: 3vw;
    padding: 1vw;
}

/* Dropdown button on hover & focus */
.dropdowns__btn:hover, .dropdowns__btn:focus {
    background-color: #89e9f0;
}

/* positions the dropdown__content */
.dropdown {
    width: 65vw;
    margin: auto;
}

/* Hides dropdown__content by default */
.dropdown__content {
    display: none;
    position: absolute;
    padding: 0;
    margin: auto;
}

/* Links inside the dropdown */
.dropdown__content li{
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown__content button{
  background-color: #f9f9f9;
  border: none;
  width: 65vw;
}

.dropdown__content button:hover, button:focus {
    background-color: #ffbff7;
}

/* JS to adds this class to the .dropdown__content when clicked*/
.show {
  display: block;
}

/*makes drop down scrowlable */
.dropdown__content {
   max-height:150px;/* you can change as you need it */
   overflow:auto;/* to get scroll */
}

/*font align for title and p*/
.main-area > h1 {
  text-align: center;
  margin-bottom: 0;
}
.main-area > p {
  text-align: center;
  font-style: italic;
  margin-top: 0;
}
.results > h2 {
  text-align: center;
}

.results__entry {
  width: 80vw;
  border: none;
  margin-bottom: 1vh;
  background: #ABEBC6;
  padding: 0.5rem;
}

.results__upvote-btn {
  display: inline;
  border: none;
  background: inherit;
  margin: 0;
  height: 2em;
}

.upvote-btn__svg {
  width: 2.5vw;
  display: block;
}

.results__upvote-link {
  margin: 0;
  font-size: 2.5vw;
}

.results__entry:hover {
  background: #ffbff7;
}

.results {
  text-align: center;
}

.entry__heading {
  display: inline;
}

.error-message {
  text-align: center;
  margin: auto;
  padding: 0 2rem;
}

.results > a {
  color: inherit;
}

.main__heading {
  font-size: 13vw;
  margin: 2vh 0;
  font-family: 'Italiana', serif;
}

.main__subheading {
  font-size: 2.5vw;
  margin: 2vh auto;
  text-align: center;
}

.results {
  font-size: calc(5px + 2vw);
}

.entry__text--title {
  font-size: 2.5vw;
  font-weight: bold;
  display: block;
}
