/* Dropdown Button */
.dropbtn {
    width: 65vw;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* positions the dropdown content */
.dropdown {
    /*position: relative;
    display: inline-block;*/
    width: 65vw;
    margin: auto;
}

/* Hides dropdown-content by default */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    padding: 0;
    margin: auto;
    /*z-index: 1;*/
}

/* Links inside the dropdown */
.dropdown-content li{
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown-content button{
  width: 65vw;
}

.dropdown-content button:hover, button:focus {
    background-color: green;
}

/* JS to adds this class to the .dropdown-content when clicked*/
.show {display:block;}

/*makes drop down scrowlable */
.dropdown-content {
   max-height:150px;/* you can change as you need it */
   overflow:auto;/* to get scroll */
}

/*font align for title and p*/
.main-area > h1, p {
  text-align: center;
}
.results-table > h2 {
  text-align: center;
}
